<network>
  <name>{{ cluster_name }}</name>

  <forward mode='nat' />

  <domain name="{{ vn_internal_domain }}"/>

  <ip address='{{ vn_subnet.split('.')[:3] | join('.')}}.1' netmask='255.255.255.0'>
    <dhcp>
      <range start='{{ vn_subnet.split('.')[:3] | join('.')}}.10' end='{{ vn_subnet.split('.')[:3] | join('.')}}.99' />
    </dhcp>
  </ip>
</network>
