<network>
  <name>{{ cluster_name }}</name>

  <forward mode='nat' />

  <domain name='pute3.local' />

  <ip address='192.168.70.1' netmask='255.255.255.0'>
    <dhcp>
      <range start='192.168.70.10' end='192.168.70.99' />
    </dhcp>
  </ip>
</network>
