<network>
  <name>TRYOCP2</name>

  <forward mode='nat' />

  <domain name='pute2.local' />

  <ip address='192.168.60.1' netmask='255.255.255.0'>
    <dhcp>
      <range start='192.168.60.10' end='192.168.60.99' />
    </dhcp>
  </ip>
</network>
